@import "../Layout/index.scss";

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-2-title {
    margin-top: 84px;

    h1 {
        font: $title-font;
        text-transform: uppercase;
        color: #EA0000;
        text-align: center;
        letter-spacing: 1px;
    }
}

.section-2-text {

    max-width: 486px;
    margin-top: 22px;
    padding-bottom: 7px;

    p{
        text-align: center;
        font: normal normal normal 22px/30px $general-font;
        letter-spacing: 0px;
        color: #585858;
    }
}

.section-2-cards {
    margin:auto;
    display: flex;
    margin-top:23px;
    width: 1081px;
    justify-content: space-between;
    margin-right:201px;

    >:first-child {
        padding-top: 6px;
    }

    >:last-child {
        padding-top:26px;

        >:nth-child(2) {
            padding-top: 2px;
        }

        >:last-child {
            width: 270px;
        }
    }

}