@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');
@import "../../css/typography.scss";
$general-font:'Jost';
$secondary-font:'Third Rail - Demo';
$title-font: normal normal 600 40px/58px Jost;


body {
    margin:0;
    font-family: 'Jost','Third Rail - Demo';
}

main, header{
    width: 1440px;
    margin:auto;
}

p{
    margin:0;
}

h1{
    margin:0;
}

header {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    height:87px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 2;
}
header div {
    width: 50%;
    height: 100%;
    display: flex;
}
.rv-logo{
    margin:auto;
    margin-left: 8.8125rem;
    width:242px;
    height: 28px;
}
.contact-mission-button {
    border: 2px solid #FFFFFF;
    border-radius: 4px;
    width: 211px;
    height: 45px;
    background-color:inherit;
    color: white;
    font: normal normal 600 16px/23px $general-font;
    letter-spacing: 0px;
    margin: auto;
    margin-top: 1.5rem;
    margin-left:auto;
    margin-right: 1.6875rem;
    cursor: pointer;   
}

.contact-mission-button:hover {
    background-color:white;
    color:black;
}
.contact-mission-button:focus{
    outline: none;
}
.contact-mission-button:focus:hover {
    outline: none;
}
